// catalog styles
.catalog {
    padding-top: 28px;

    &__aside {
        display: none;

        @include media-custom(1024px) {
            display: block;
        }
    }

    &__container {
        @include media-custom(1024px) {
            display: grid;
            grid-template-columns: 300px 1fr;
            gap: 27px;
        }

        @include media-custom(1440px) {
            gap: 32px;
        }
    }
}
.catalog-title {
    max-width: toRem(240);
    padding-bottom: 32px;
    display: flex;
    align-items: center;

    @include media-medium() {
        max-width: 100%;
        padding-bottom: 30px;
    }

    @include media-custom(1024px) {
        padding-bottom: 58px;
    }

    svg {
        display: none;
        margin-right: 24px;

        @include media-medium() {
            display: block;
        }
    }
}
.catalog-filter-btn {
    display: flex;
    align-items: center;
    font-family: 'Roboto',sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: var(--dark-color);
margin-bottom: 52px;
padding: 0;
max-width: 96px;
margin-left: auto;
background-color: transparent;
border-color: transparent;

@include media-custom(1024px) {
    display: none;
}

    svg {
        margin-right: 8px;
    }
}
.catalog-filter {
    background-color: white;
    display: flex;
    flex-direction: column;

    &--mobile {
        position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    max-width: toRem(364);
    left: 0;
    top: 7rem;
    transition: .3s ease-in-out;
    z-index: -99;
    transform: translateY(100%);

    @include media-medium() {
        transform: translate(100%, 100%);
        left: unset;
        right: 0;
    }

    &.active {
        opacity: 1;
        z-index: 999;
        transform: translateY(0);

        @include media-medium() {
            transform: translate(0, 0);
        }
    }

    ul {
        @include media-medium() {
            margin-top: 40px;
        }
    }
    }

    &__close-btn {
        display: flex;
        margin: 0 auto;
        background-color: transparent;
        border-color: transparent;
        padding: 0;

        @include media-medium() {
            margin-left: auto;
           margin-right: 1rem;
           margin-top: 1rem;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        display: grid;
        margin-bottom: 20px;
    }


    li {
        padding: 14px 16px;
        border-bottom: 1px solid var(--grey-light-color);
        transition: .3s ease-in-out;

        &:hover {
            background-color: var(--grey-light-color-1);
        }
    }


    summary {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Roboto',sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: var(--dark-color);
cursor: pointer;

svg {
    transition: .3s ease-in-out;
}
    }

    details[open] {

        .catalog-filter__clear-list-icon {
            opacity: 1;
        }

        .catalog-filter__arrow-icon {
            transform: rotate(180deg);
        }
    }

    &__clear-btn {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
        background-color: transparent;
        border-color: transparent;
        padding: 0;
        font-family: 'Roboto',sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: var(--dark-color);


        svg {
            margin-right: 8px;
        }
    }

    &__submit-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 1px solid var(--dark-color);
        border-radius: 4px;
        font-family: 'Montserrat',sans-serif;
font-weight: 700;
font-size: 14px;
line-height: 16px;
color: var(--dark-color);
height: 44px;
max-width: 134px;
width: 100%;
padding: 0;
margin: auto;

@include media-medium() {
    margin-top: 28px;
}
    }
&__clear-list-icon {
    opacity: 0;
}
}
ul.catalog-filter__list {
    margin: 16px 0;
    gap: 8px;
    font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

    li {
        padding: 0;
        border-bottom: unset;

        &:hover {
            background-color: transparent;
        }
    }

    button {
        background-color: transparent;
        border-color: transparent;
        transition: .3s ease-in-out;
        border-width: 1px;
        border-style: solid;
        border-color: transparent;
        border-radius: 20px;
    }
    button.active {
        border-color: var(--primary-color);
    }
    button:hover {
        border-color: var(--primary-color);
    }
}
ul.catalog-filter__icon-list {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2,max-content);
    align-items: center;
    margin: 0;
    padding: 0;
}


.catalog-list {
    padding: 0;
    margin: 0;
    display: grid;
    gap: 32px;
    padding-bottom: 52px;

    @include media-custom(1024px) {
        column-gap: 20px;
        row-gap: 32px;
        grid-template-columns: repeat(2,1fr);
    }
    @include media-custom(1440px) {
        grid-template-columns: repeat(3,1fr);
    }

    li:nth-child(n+7) {
        display: none;

        @include media-custom(1024px) {
            display: block;
        }
    }

    li:nth-child(n+9) {
        @include media-custom(1024px) {
            display: none;
        }
        @include media-custom(1440px) {
            display: block;
        }
    }
}
.catalog-card {
    border-radius: 4px;
    border: 1px solid var(--grey-dark-color);
    display: flex;
    flex-direction: column;
    padding: 16px;

    @include media-medium() {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 91px;
        pointer-events: none;
    }

    @include media-custom(1024px) {
        grid-template-columns: 1fr;
        gap: 0;
        pointer-events: auto;
    }

    &__top {
        margin-bottom: 16px;
        position: relative;
        overflow: hidden;

        @include media-medium() {
            gap: 8px;
        }
    }

    picture {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease-in-out;
        background-color: white;
    }

    img {
        width: 100%;
        max-width: toRem(328);
        transition: .3s ease-in-out;
        object-fit: cover;
    }

    &:hover picture {
        opacity: 0;
    }

    &:hover img {
        transform: scale(1.2);
    }

    &__descr {
        height: 100%;   
    font-family: 'Roboto',sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: var(--dark-color);
display: grid;
gap: 24px;
padding: 0;
margin: 0;

@include media-medium() {
    gap: 16px;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    }

    &__descr--pos-abs {
        position: absolute;
        width: 100%;
        z-index: -1;
top: 0;
left: 0;
    }

    &__aside {
        display: none;

        @include media-medium() {
            display: block;
        }

        @include media-custom(1024px) {
            display: none;
        }
    }

}
.catalog-pagination {
    justify-content: flex-end;
    margin-right: 1rem;

    @include media-custom(1024px) {
        justify-content: flex-start;
        margin-right: 0;
        margin-left: 1rem;
    }
}

.catalog-filter__close-btn-icon--mobile {
    @include media-medium() {
        display: none;
    }
}
.catalog-filter__close-btn-icon--tablet {
    display: none;
    @include media-medium() {
        display: block;
    }
}